
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #DDE8F0;
}

/* Custom animation for the slideshow */
@keyframes slider {
  0%, 33% {
    transform: translateX(0);
  }
  33.1%, 66% {
    transform: translateX(-100%);
  }
  66.1%, 100% {
    transform: translateX(-200%);
  }
}

/* Utility class for the slideshow animation */
.animate-slider {
  display: flex; /* To make images inline */
  animation: slider 15s infinite; /* Animation with infinite loop */
}